In [10]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/booknew"

In [11]:
engine = create_engine(connection)

In [12]:
database_exists(connection)

False

In [13]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

In [14]:
users_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"
users = pd.read_csv(users_url)
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [8]:
books_url = "https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books"
books = pd.read_csv(books_url)
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [ ]:
favorite_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"
favorite = pd.read_csv(favorite_url)
favorite.head()

In [ ]:
authors_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"
authors = pd.read_csv(authors_url)
authors.head()

In [15]:
users.to_sql('users', engine, index=False, if_exists = 'replace')

3

In [16]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_booknew
0             users

In [23]:
SELECT book_fav.title, favorites.user_id
FROM book_fav
JOIN favorites ON book_fav.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

SyntaxError: invalid syntax (4109895626.py, line 1)

In [ ]:
SELECT *
FROM book_fav